.weather {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 14px;
        padding: 2rem;
        width: 25rem;
        background-image: linear-gradient(220.55deg, #DDE4FF 0%, #8DA2EE 100%);

        .card_top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 100%;
                border-radius: 24px;
                border: none;
                outline: none;
                padding: 10px 16px;
                font-size: 18px;
                font-weight: 500;

            }

            button {
                border: none;
                background: white;
                border-radius: 50%;
                font-size: 20px;
                padding: 14px 15px 4px 13px;
                margin-left: 10px;
                color: #919191;
                cursor: pointer;

                &:hover {
                    background: #f5f5f5;
                }
            }
        }

        .card_middle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem 0rem;

            img {}

            .temperature {
                font-size: 2rem;
                font-weight: 500;

            }

            .city {
                font-size: 1rem;
                font-weight: 500;

            }
        }

        .card_footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                display: flex;
                align-items: center;

                .Icon {
                    font-size: 2rem;
                    margin-right: 10px;
                }

                .humidity {
                    p {
                        font-weight: 500;
                        font-size: 1rem;
                        color: #4b4949;
                    }


                    h6 {
                        font-size: 0.75rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}